/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.path-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0 !important;
  min-width: 64px;
  overflow: visible;
  transition: all 0.2s ease;

  &.is-primary {
    padding: 0px 24px;
    color: var(--wp--preset--color--on-surface);
  }
  &.is-secondary {
    padding: 0;
    color: var(--wp--preset--color--primary);
  }
  &.is-primary:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 24px;
    background: var(--wp--preset--color--secondary-container);
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
  }

  span {
    position: relative;
    font-size: 16px;
    line-height: 48px;
    font-weight: 600;
    letter-spacing: 0.03em;
    vertical-align: middle;
  }

  svg {
    position: relative;
    top: 1px;
    margin-left: 16px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }

  &.is-primary svg {
    stroke: var(--wp--preset--color--on-secondary-container);
  }

  &.is-secondary svg {
    stroke: var(--wp--preset--color--primary);
  }

  &:hover {
    span {
      color: var(--wp--preset--color--on-secondary-container);
    }
    &.is-primary:before {
      width: 100%;
    }
    svg {
      transform: translateX(0);
      stroke: var(--wp--preset--color--on-secondary-container);
    }
  }

  &:active {
    transform: scale(0.96);
  }
}
